* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------
* Style/general *
---------------- */

:root {
  --Background: #ebebeb;
  --background2: #212529;
  --Text: #121517;
  --Text-shadow: #cccccc;
  --Shade: #182225;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}

#search-container {
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 1%;
  margin: 0 auto;
}

#search-input {
  padding: 10px;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

body {
  background-color: var(--Background);
  color: var(--Text);
}
nav,
button {
  background-color: var(--background2);
  color: var(--Background);
}
a {
  color: var(--Text);
  text-decoration: none;
}

#main-container {
  max-width: 70%;
  margin: 0 auto;
}

#news-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%
}

.item-card {
  width: 260px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.news-link {
  text-decoration: none;
  color: #333;
}

.news-image {
  width: 260px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.25s ease-in-out;
}

.news-image:hover {
  transform: scale(1.04);
}

.news-title {
  margin-top: 5px;
  font-size: 1.1rem;
  transition: color 0.25s ease-in-out;
}

.news-title:hover {
  color: rgba(4, 4, 255, 0.898);
  text-decoration: underline;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px 0px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
button:hover {
  transform: scale(1.11);
}

/* --------------
* Media queries *
--------------- */
/* these were interferring with the grid layout, so I commented them out 
@media screen and (min-width: 2560px) {
  body,
  nav {
    max-width: 2560px;
  }
  #news-container .item-card {
    width: 30%;
  }
}
@media screen and (min-width: 5120px) {
  body,
  nav {
    max-width: 5120px;
  }
  #news-container .item-card {
    width: 20%;
  }
} */ 